services:
  keycloak:
    image: quay.io/keycloak/keycloak:25.0.5
    container_name: keycloak
    ports:
      - "9090:8080"

    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

    volumes:
      - ./.keycloak/realm.json:/opt/keycloak/data/import/realm.json
      - ./.keycloak/scripts:/opt/keycloak/scripts
      - ./.keycloak/99-init.sh:/opt/keycloak/init.sh

    entrypoint:
      - /bin/bash
      - -c
      - |
        /opt/keycloak/bin/kc.sh start-dev --import-realm &
        /opt/keycloak/init.sh
        wait

  mysql:
    image: mysql:8.0.36
    container_name: markenx-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_TCP_PORT: 3306
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
