services:
  mysql:
    image: mysql:8.0.36
    container_name: markenx-mysql
    restart: unless-stopped

    environment:
      MYSQL_DATABASE: markenx
      MYSQL_USER: myuser
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root

    ports:
      - "3306:3306"

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
